* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-size: 1.5rem;
    font-family: monospace;
}

i {
    color: #b1b1b1;
}

header {
    width: 100%;
    height: 8rem;
    background-color: #009688;
    position: relative;
}

nav {
    width: 80%;
    height: 6rem;
    margin: auto;
    background-color: #eaeaea;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    display: flex;
}

nav .profilo_utente {
    width: 35%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profilo_utente .nome {
    display: flex;
    align-items: center;
    padding: 0.5rem

}

.img {
    width: 5rem;
    height: 5rem;
}

img {
    width: 100%;
    object-fit: cover;
    height: 100%;
    border-radius: 50%;
}

.profilo_utente .nome p {
    padding-left: 0.5rem;
}

.profilo_utente .opzioni_profilo {
    padding-right: 1rem;
}

/* 
    PROFILO UTENTE
*/


nav .chat_corrente {
    width: 65%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-left: 1px solid #dadbd4;
}

.chat_corrente .nome {
    display: flex;
    align-items: center;
}

.chat_corrente .txt {
    padding-left: 1rem;
}

.chat_corrente .txt p:last-child {
    font-size: 1rem;
    padding-top: 0.5rem;
    color: #6b7376;
}

/* 
        / NAV
*/
main {
    width: 100%;
    background-color: #dadbd4;
    padding-bottom: 2rem;
    height: 100%;
}

main #mainContainer {
    width: 80%;
    margin: auto;
    background-color: white;
    display: flex;
}

#mainContainer #mainSide {
    width: 35%;
    background-color: white;
}

#mainSide .notifiche {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    background-color: #8edafc;
}

#mainSide .img_notifiche {
    margin-right: 1rem;
}

#mainSide .img_notifiche i {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #8edafc;
}

#mainSide .notifiche .txt {
    flex-grow: 1;
    font-size: 1rem;
}

#mainSide .notifiche .txt a {
    color: #6b7376;
    margin-top: 0.5rem;
    display: block;
    font-size: 0.9rem;
}

/* / SEZIONE NOTIFICHE */

#mainSide .search {
    background-color: #eaeaea;
    padding: 0.5rem;
}

#mainSide .search .insert_txt {
    background-color: white;
    padding: 0.4rem;
    border-radius: 0.3rem;
    display: flex;
}

#mainSide .insert_txt input {
    flex-grow: 1;
    border: none;
    margin-left: 1rem;
}
/*   / SEARCH */


#mainSide .contatto {
    display: flex;
    padding: 1rem;
    align-items: flex-start;
    border-bottom: 1px solid #eaeaea;
    transition: 0.5s;
    
}

#mainSide .contatto:hover {
    background-color: #eaeaea;
}

#mainSide .contatti {
    overflow: scroll;
    height: 600px;
}

#mainSide .contatto img {
    width: 5rem;
    height: 5rem;
    margin-right: 1rem;
}

/* 
        //// MAIN SIDE
*/

#mainContainer #container {
    width: 65%;
}

#container .mex_area {
    background-image: url("../img/mine.jpg");
    height: calc(100% - 5rem);
    overflow: scroll;
}

#container .txt_area {
    background-color: #eaeaea;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#container .txt_area input {
    width: 90%;
    height: 3rem;
    border-radius: 0.5rem;
    border: none;
    padding: 1rem;
}

#container .txt_area i {
    width: 4rem;
    text-align: center;
    color: #6b7376;
    font-size: 2rem;
}

.sent {
    text-align: end;
    padding: 1rem;
    padding-right: 2rem;
}

.sent p {
    background-color: #d5f9ba;
    display: inline-block;
    padding: 1rem;
    border-radius: 0.5rem;
}

.sent .date {
    display: block;
    font-size: 1rem;
    color: #6b7376;
}

.received {
    text-align: start;
    padding: 1rem;
    padding-left: 2rem;
}

.received p {
    background-color: white;
    display: inline-block;
    padding: 1rem;
    border-radius: 0.5rem;
    min-width: 40%;
}

.received .date {
    display: block;
    font-size: 1rem;
    color: #6b7376;
    text-align: end;
}

