* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-size: 1.5rem;
    font-family: monospace;
}

i {
    color: #b1b1b1;
}

header {
    width: 100%;
    height: 8rem;
    background-color: #009688;
    position: relative;
}

nav {
    width: 80%;
    height: 6rem;
    margin: auto;
    background-color: #eaeaea;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    display: flex;
}

nav .profilo_utente {
    width: 35%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profilo_utente .nome {
    display: flex;
    align-items: center;
    padding: 0.5rem

}

.img {
    width: 5rem;
    height: 5rem;
}

img {
    width: 100%;
    object-fit: cover;
    height: 100%;
    border-radius: 50%;
}

.profilo_utente .nome p {
    padding-left: 0.5rem;
}

.profilo_utente .opzioni_profilo {
    padding-right: 1rem;
}

/* 
    PROFILO UTENTE
*/


nav .chat_corrente {
    width: 65%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-left: 1px solid #dadbd4;
}

.chat_corrente .nome {
    display: flex;
    align-items: center;
}

.chat_corrente .txt {
    padding-left: 1rem;
}

.chat_corrente .txt p:last-child {
    font-size: 1rem;
    padding-top: 0.5rem;
}

/* 
        / NAV
*/
main {
    width: 100%;
    background-color: #dadbd4;
    padding-bottom: 3rem;
    height: calc(100vh - 8rem);
}

main #mainContainer {
    width: 80%;
    height: 32rem;
    margin: auto;
    background-color: white;
    display: flex;
}

#mainContainer #mainSide {
    width: 35%;
    background-color: pink;
}

#mainSide .notifiche {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    background-color: #8edafc;
}

#mainSide .img_notifiche {
    margin-right: 1rem;
}

#mainSide .img_notifiche i {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #8edafc;
}

#mainSide .notifiche .txt {
    flex-grow: 1;
    font-size: 1rem;
}

#mainSide .notifiche .txt a {
    color: #6b7376;
    margin-top: 0.5rem;
    display: block;
    font-size: 0.9rem;
}


/* 
        //// MAIN SIDE
*/

#mainContainer #container {
    width: 65%;
    background-color: cornflowerblue;
}